__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store

paths/
.env

teleop_launcher_config.local.json
config/teleop_launcher_config.local.json
.vendor/
.pip-cache/
.tmp/

*.bag
*.avi
*.mp4
*.pkl
*.hdf5
*.h5
*.npz

*.log
